<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/a3e2a7258a.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Opcoes da B3</title>
  </head>
  <body>
    <h1><a href="" id="home">API series autorizadas B3</a></h1>
    <main class="container">
      <a
        href="https://github.com/Megas-MDN/Api-Series-Autorizadas-B3"
        class="github"
        target="_blank"
        ><i class="fa-brands fa-github fa-2xl"></i>Link do repositório</a
      >
      <form action="" class="form">
        <div class="containerInputs">
          <input type="text" disabled class="url" id="url" />
          <button class="btn">Request</button>
        </div>
        <div class="fields">
          <div class="left">
            <label for="test">
              <input type="checkbox" name="test" id="test" />
              Test
            </label>
          </div>
          <div class="right">
            <label for="test02">
              <input type="checkbox" name="test" id="test02" />
              Test
            </label>
          </div>
        </div>
      </form>
    </main>
    <script src="scripts.js"></script>
  </body>
</html>
